@import "Animations.css";

.deviceTable{
    display: grid;
    gap:2em 2em;
    padding:1em;
    align-self: center;
    grid-auto-flow: column;
}
.deviceBack{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background: #fff;
    border-radius: 20px;
    animation: fadeIn 0.2s;
    box-shadow: 0px 0px 5px 0px #555;
    
}
.device{
    display:flex;
    align-self: center;
    padding:1em;
    text-align: center;
    border-radius: 20px;
}

.deviceFiles,.deviceInfo{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    padding:1em;
    transition: all 0.2s;
}

.deviceButtons{
    display: flex;
    align-self:center;
    /* flex-direction: column;
    flex-flow: column wrap; */
    padding:1em;
    transition: all 0.2s;
}

.deviceFileTable{
  display:flex;
  margin:0.2em;
  border-radius: 20px;
  justify-content:space-between;
  padding:0.5em;
  box-shadow: 0px 0px 3px 0px #888;
}

.inputConfig{
    font-size: 22px;
    align-self:stretch;
    margin: 10px;
    outline:none;
    border: none;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.inputConfig:focus{
    box-shadow:none;
    outline:auto;
}