@import "Animations.css";

.backSurface{
    display:flex;
    align-self:center;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0, 0.5);
    animation: fadeIn 0.2s ease-in-out;
}

.loginSurface{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width:300px;
    padding:20px;
    margin:40px;
    align-self: center;
    align-items: center;
    box-shadow: 0 0 5px 0 rgba(0,0,0, 0.5);
    animation: fadeIn;
    animation-duration: 0.3s;
}

.textInput{
    display:flex;
    border-radius: 10px;@import "Animations.css";

.backSurface{
    display:flex;
    align-self:center;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 rgba(0,0,0, 0.5);
    animation: fadeIn 0.2s ease-in-out;
}

.loginSurface{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width:300px;
    padding:20px;
    margin:40px;
    align-self: center;
    align-items: center;
    box-shadow: 0 0 5px 0 rgba(0,0,0, 0.5);
    animation: fadeIn;
    animation-duration: 0.3s;
}

.textInput{
    display:flex;
    border-radius: 10px;
    min-width:10em;
    font-size: 24px;
    text-align: center;
    margin:10px;
    padding:5px;
    height:40px;
   
    border: none;
    
    
    animation: fadeIn 0.2s ease-in-out;
}

.textArea{
    border-radius: 10px;
    padding:10px;
    margin:10px;
    font-size: 24px;
    text-align: center;
    min-width: 50dvh;
    min-height: 40dvh;
    border: none;
}

.textInput:focus,.textArea:focus{
    box-shadow:none;
    
}

.fileArea{
    display:flex;
    flex-direction: column;
}

.fileTableRow{
    display:flex;
    border-radius: 20px;
    padding:0.5em;
    max-height:4em;
}

    min-width:10em;
    font-size: 24px;
    text-align: center;
    margin:10px;
    padding:5px;
    height:40px;
   
    border: none;
    
    
    animation: fadeIn 0.2s ease-in-out;
}

.textArea{
    border-radius: 10px;
    padding:10px;
    margin:10px;
    font-size: 24px;
    text-align: center;
    min-width: 50dvh;
    min-height: 40dvh;
    border: none;
}

.textInput:focus,.textArea:focus{
    box-shadow:none;
    
}

.fileArea{
    display:flex;
    flex-direction: column;
}

.fileTableRow{
    display:flex;
    border-radius: 20px;
    padding:0.5em;
    max-height:4em;
}
