.btnAll{
  display: flex;
  flex-direction:column;
  border-radius: 20px;
  text-align: center;
  align-items:center;
  padding:0.5em;
}

.menu{
  display: flex;
}

.ibmstu, .ischedule, .inote,.igear,.igear img,.ilogout,.idevice,.ifile{
  justify-content: center;
  width:6em;
  height:6em;
}

.ibmstu img, .ischedule img, .inote img,
.idevice img,.ilogout img,.ifile img{
  
  width:5em;
  height:4em;
}
.ispace,.ipalette,.ipalette img,.iterminal,.iterminal img,
.ired,.igreen,.iblue,.ired img,.igreen img,.iblue img,
.ilightDark img,.ilightDark,
.iupload,.iupload img,.iadd,.iadd img, .iupdate, .iupdate img,
.iplay,.iplay img,.ipause,.ipause img{
  height:2.5em;
  width:2.5em;
}

.idownload,.idownload img,.idelete,.idelete img{
  height:2em;
  width:2em;
}


.ired,.iblue,.igreen{
  animation: fadeIn 0.5s ease-in-out;
}

.ibmstuM, .ischeduleM, .inoteM,.igearM,.igearM img,.ischeduleM img{
  width:3em;
  height:3em;
}

.igear,.igearM{
  animation: App-logo-spin-rev infinite 10s linear;
}

.itext{
  
  text-align: center;
  font-size:18px;
}
