

.navbar {
  /*background: linear-gradient(90deg, #225e85 0 20%, #149172) no-repeat;*/
  position:relative;
  display: flex;
  margin:0.5em;
  padding:0.5em;
  justify-content:space-between;
  align-items:center;
  box-shadow: 0 0 30px 0 rgba(0,0,0, 0.5);
  border-radius: 20px; 
  align-self:center;
  width:90%;
  z-index:5;
  /*background-size: 400% 400%;
	animation: gradient 15s ease infinite;*/
}

.navbar:hover {
  transition: all 0.3s ease;
}

.navbar_mobile{
  /* background: linear-gradient(90deg, #225e85 0 30%, #149172) no-repeat; */
  
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
 
  box-shadow: 0 0 30px 0 rgba(0,0,0, 0.5);
  padding: 0.4em;
  position: fixed;
  height:8%;
  bottom:2%;
  left:2%;
  right:2%;
}

.navbarchild {
  display: inherit;
  align-items:inherit;
}

.list{
  display:flex;
  flex-direction:column;
  align-items: center;
}

@-webkit-keyframes progress-animation {
  0% {
      width: 0
  }

  100% {
      background-position: 0
  }
}

@keyframes progress-animation {
  0% {
      width: 0
  }

  100% {
      background-position: 0
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}