.btnAll{
  text-align: center;
  display: flex;
  flex-direction:column;
  border-radius: 20px;
  margin:5px;
  align-items:center;
  padding:0.6em;
}

.menu{
  display: flex;
}

.ibmstu, .ischedule, .inote,.igear,.igear img,.ishutdown,.idevice,.ifile{
  width:6em;
  height:6em;
  /* width:80px;
  height:80px; */
}

.ibmstu img, .ischedule img, .inote img,
.idevice img,.ishutdown img,.ifile img{
  width:5em;
  height:4em;
}
.ispace,.ipalette,.ipalette img,.iterminal,.iterminal img,
.ired,.igreen,.iblue,.ired img,.igreen img,.iblue img,
.ilightDark img,.ilightDark,.idelete,.idelete img,
.iupload,.iupload img{
  height:2.5em;
  width:2.5em;
}

.ired,.iblue,.igreen{
  animation: fadeIn 0.5s ease-in-out;
}

.ibmstuM, .ischeduleM, .inoteM,.igearM,.igearM img,.ischeduleM img{
  width:3em;
  height:3em;
}

.igear,.igearM{
  animation: App-logo-spin-rev infinite 10s linear;
}

.itext{
  text-align: center;
  font-size:18px;
}
