.schtable{
    width:60%;
    
    align-self: center;
    
}

.schtable td{
    outline: 1px solid #aaa;
}

.schtable td textarea,.schtable td input{
    width:100%;
    border:none;
    outline:none;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.schtable th{
    outline: 1px solid #aaa;
}


.schtable td select{
    padding:1em;
    border:none;
}