/* FOR EVERY THEME */

.Back{
    margin:0px 10px;
    border-radius:20px;
    transition: all 0.1s;
    align-self: center;
    font-weight: 500;
}

/* TABLE */

.table tr:nth-child(even),.table tr:nth-child(even) textarea,.table tr:nth-child(even) input,.table tr:nth-child(even) select{
    background: #303030;
    min-width: 100px;
    color:#ebebeb;
    
}
.table tr:nth-child(odd),.table tr:nth-child(odd) textarea,.table tr:nth-child(odd) input,.table tr:nth-child(odd) select{
    background: #494949;
    min-width: 5em;
    color:#ebebeb;
}

.tableL tr:nth-child(even),.tableL tr:nth-child(even) textarea,.tableL tr:nth-child(even) input,.tableL tr:nth-child(even) select{
    background: #e2e2e2;
    min-width: 5em;
}
.tableL tr:nth-child(odd),.tableL tr:nth-child(odd) textarea,.tableL tr:nth-child(odd) input,.tableL tr:nth-child(odd) select{
    background: #fff;
    min-width: 5em;
}

/* BACKGROUND SURFACE WITH INPUTS */

.inputSurface{
    color:#ebebeb;
    font-size:18px;
    align-self:center;
    background: #333333;
}

.inputSurfaceL{
    font-size:18px;
    align-self:center;
    background: #ebebeb;
}

/* DARK */
/* RED */

.textRed{
    color:#ebebeb;
    font-size:18px;
    align-self:center;
}
.barRed,.pollRed{
    background:#333333;
    color:#ebebeb;
}

.btnRed, .pollRed h1{
    filter: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(429%) hue-rotate(182deg) brightness(93%) contrast(89%);
}

.btnRed:hover{
    filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(0%) hue-rotate(13deg) brightness(114%) contrast(84%);
}

.btnRedBack:hover,.progressRed{
    background:#b73838;
    color:#ebebeb;
}
.voteButRed{
    transition: all 0.2s;
    background: #b73838;
    color:#ebebeb;
    
}
.voteButRed:hover,.inputRed,.inputRed::placeholder{
    background: #ebebeb;
    color:#b73838;
}
.voteButRed:hover{outline:auto;}

/* DARK */
/* BLUE */

.barBlue,.pollBlue{
    background:#333333;
    color:#ebebeb;
}

.btnBlue, .pollBlue h1{
    filter: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(429%) hue-rotate(182deg) brightness(93%) contrast(89%);
    
}

.btnBlue:hover{
    filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(0%) hue-rotate(13deg) brightness(114%) contrast(84%);
    
}

.btnBlueBack:hover,.progressBlue{
    background:#3166ae;
}
.voteButBlue{
    transition: all 0.2s;
    background: #3166ae;
    color:#ebebeb;
    
}
.voteButBlue:hover{
    
    background: #ebebeb;
    color:#3166ae;
}
.inputBlue,.inputBlue::placeholder{
    background:#505050;
    color:white;
}
.inputBlue:focus{
    outline:solid 3px #3166ae;
}
.voteButBlue:hover{outline:auto;}

/* DARK */
/* GREEN */
.barGreen,.pollGreen{
    background:#333333;
    color:#ebebeb;
}

.btnGreen, .pollGreen h1{
    filter: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(429%) hue-rotate(182deg) brightness(93%) contrast(89%);
}

.btnGreen:hover{
    filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(0%) hue-rotate(13deg) brightness(114%) contrast(84%);
}

.btnGreenBack:hover,.progressGreen{
    background:#057632;
    
}
.voteButGreen{
    transition: all 0.2s;
    background: #057632;
    color:#ebebeb;
    
}
.voteButGreen:hover{
    background: #ebebeb;
    color:#057632;
}
.inputGreen,.inputGreen::placeholder{
    background:#505050;
    color:white;
}
.voteButGreen:hover{outline:auto;}


/* LIGHT */
/* RED */

.shadowRedL{
    box-shadow: 0px 0px 15px 0px #cb4343;
}

.textRedL{
    color:#cb4343;
    font-size:18px;
    align-self:center;
}

.barRedL,.pollRedL{
    background:#FFFFFF;
    color:#cb4343;
}

.btnRedL, .pollRedL h1{
    filter: brightness(0) saturate(100%) invert(35%) sepia(77%) saturate(694%) hue-rotate(316deg) brightness(89%) contrast(100%);
    
}

.btnRedL:hover{
    /*set white color, don't change*/
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(221deg) brightness(104%) contrast(104%);
    
}

.btnRedLBack:hover,.progressRedL{
    background:#cb4343;
    color:white;
}

.voteButRedL{
    transition: all 0.2s;
    background: #cb4343;
    color:white;
}
.voteButRedL:hover,.inputRedL,.inputRedL::placeholder{
    background: white;
    color:#cb4343;
}

/* LIGHT */
/* BLUE */

.shadowBlueL{
    box-shadow: 0px 0px 15px 0px #4472ca;
}

.textBlueL{
    color:#4472ca;
    font-size:18px;
    align-self:center;
}

.barBlueL,.pollBlueL{
    background:#FFFFFF;
    color:#4472ca;
}

.btnBlueL, .pollBlueL h1{
    filter: brightness(0) saturate(100%) invert(46%) sepia(13%) saturate(4246%) hue-rotate(189deg) brightness(86%) contrast(82%);
}

.btnBlueL:hover{
    /*set white color, don't change*/
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(221deg) brightness(104%) contrast(104%);
}

.btnBlueLBack:hover,.progressBlueL{
    background:#4472ca;
    color:white;
}

.voteButBlueL{
    transition: all 0.2s;
    background: #4472ca;
    color:white;
}
.voteButBlueL:hover,.inputBlueL,.inputBlueL::placeholder{
    background: white;
    color:#4472ca;
}

/* LIGHT */
/* GREEN */

.shadowGreenL{
    box-shadow: 0px 0px 15px 0px #52cb43;
}

.textGreenL{
    color:#2e6c24;
    font-size:18px;
    align-self:center;
}

.barGreenL,.pollGreenL{
    background:#FFFFFF;
    color:#2e6c24;
}

.btnGreenL, .pollGreenL h1{
    filter: brightness(0) saturate(100%) invert(31%) sepia(21%) saturate(1441%) hue-rotate(65deg) brightness(103%) contrast(90%);
}

.btnGreenL:hover{
    /*set white color, don't change*/
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(221deg) brightness(104%) contrast(104%);
}

.btnGreenLBack:hover,.progressGreenL{
    background:#449f34;
    color:white;
}

.voteButGreenL{
    transition: all 0.2s;
    background: #449f34;
    color:white;
}
.voteButGreenL:hover,.inputGreenL,.inputGreenL::placeholder{
    background: white;
    color:#449f34;
}

/* LIGHT */
/* WHITE */

.mainWhite,.barWhite,.pollwhite{
    transition: all 0.2s;
    background:#FFFFFF;
    color:#449f34;
}

.btnWhite{
    color:lightgray;
    filter: invert(30%) sepia(60%) saturate(313%) hue-rotate(121deg) brightness(97%) contrast(95%);
}
